/* news carousel*/

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}


/*for big screens*/

@media(min-width: 768px) {
    .navbar-wrapper {
        margin-top: 50px!important;
    }
    .nav, navbar-nav {
        margin-top: 10px;
    }
    .service-col {
        padding: 50px 100px 50px 100px;
    }
    .about-col {
        padding: 0 100px 50px 100px;
    }
}

@media(max-width: 768px) {
    .navbar-collapse {
        background-color: rgba(245, 245, 245, 0.4)
    }
    .navbar-wrapper {
        margin-top: 50px!important;
        margin-right: 50px!important;
        margin-left: 50px!important;
    }
    .box {
        height: auto !important;
    }
    .icon {
        display: none;
    }
    .icon2 {
        /*display: none;*/
        float: none!important;
    }
}

.container-fluid {
    /*padding-left: 0;
    padding-right: 0;*/
}

.box {
    position: relative;
}

.box button {
    /*display: block;*/
    /*left: 50%;*/
    /*bottom: 0;*/
    /*position: absolute;*/
}


/*===================================*/

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

@font-face {
    font-family: 'avalonquestregular';
    src: url('../fonts/avalon-webfont.eot');
    src: url('../fonts/avalon-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avalon-webfont.woff') format('woff'),
    url('../fonts/avalon-webfont.ttf') format('truetype'),
    /*url('../fonts/avalon-webfont.svg#avalonquestregular') format('svg');*/
    font-weight: normal;
}

.avalon {
    font-family: avalonquestregular;
    font-size: 40px!important;
    font-style: italic;
}


/*=====================*/

#newscarousel .nav a small {
    display: block;
}

#newscarousel .nav {
    background: red!important;
}

.btn-danger {
    /*background-color: : red!important;*/
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border-radius: 10px;
    /* Rounded corners */
}

.icon-bar {
    background-color: white!important;
}

ul.nav li a {
    color: black!important;
    font-size: 17px!important;
    padding: 0px;
}

ul.nav li {
    border-right: solid red;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    /*margin-bottom: 10px;*/
}

ul.nav li a:hover {
    background: none!important;
    background-color: transparent!important;
    color: red!important;
}

.red-line {
    background-color: red;
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 50%;
}

.red-line-solo {
    background-color: red;
    height: 1px;
    width: 100%;
}

#circle {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
}

#section-divider {
    position: relative;
    height: 10px;
    display: block;
}

#cover-picture {
    overflow: hidden!important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#contact {
    border: 1px solid red;
}
